html {
  scroll-behavior: smooth;
}

body {
  margin: 0px auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.text-black2 {
  color: rgb(20, 21, 31);
}

.text-white {
  color: white;
}

.text-green {
  color: #00803d;
}

.text-green2 {
  color: #00c25e;
}

.text-blue {
  color: #009efb;
}

.bg-black2 {
  background-color: #121212;
}

.bg-white {
  background-color: white;
}

.bg-green {
  background-color: #00803f !important;
}

.bg-green2 {
  background-color: #16b455;
}

.bg-blue {
  background-color: #009efb;
}

.mybuttons ul li {
  transition: 0.3s;
  border-radius: 7px;
}

.mybuttons ul li:hover {
  background: black;
}

.mybuttons ul li a:hover {
  color: wheat !important;
}

.slider {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4)),
    url("img/slider-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  padding: 7em 1.5em;
}

.slider p {
  font-size: 1.2em;
}

.slider a {
  font-size: 1.4em;
  border-radius: 15px;
  transition: 0.4s;
}

.slider a:hover {
  background-color: #1fbf5f !important;
  color: rgb(43, 43, 43) !important;
}

.stats i {
  margin: 0px;
  font-size: 2.2em;
  line-height: 60px;
}

.stats h2 {
  margin: 0px;
  float: left;
  font-size: 1.1em;
  line-height: 30px;
}

.stats h2 span {
  font-weight: 600;
  font-size: 1.6em;
}

.card-body,
.card {
  border-radius: 15px;
}

.started {
  padding: 3em 1.5em;
}

.started p {
  font-size: 1.2em;
  color: rgb(129, 129, 129);
}

.faq {
  padding: 3em;
  background-color: rgb(245, 245, 245);
}

.faq button {
  font-size: 0.6em;
}

.info {
  background-color: #1fbf5f;
  padding: 3em 1.5em;
}

.info p {
  color: rgb(233, 233, 233);
}

.started a {
  font-size: 1.4em;
  border-radius: 20px;
  background-color: #333;
}

.started a:hover {
  background-color: #009efb;
}

.footer {
  background-color: #121212;
  padding: 1.5em 1.5em 0.5em 1.5em;
}

.footer p {
  color: rgb(202, 202, 202);
}

.footer a {
  font-weight: bold;
  color: rgb(202, 202, 202);
  text-decoration: none;
}

.footer a:hover {
  color: #009efb;
}

/* Account page */

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.sidebar {
  margin-top: -20px;
}

.sidebar nav {
  background-color: #121212;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-size: 1.1em;
  text-transform: uppercase;
  color: #fff;
}

.sidebar a {
  margin: 10px 0px;
}

.activate {
  background-color: #009efb;
}

.sidebar a:hover {
  background-color: #009efb;
}

.sidebar a:hover {
  color: #121212;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
   * Navbar
   */

.navbar-brand {
  padding-top: 0.75rem 0rem;
  font-size: 1rem;
}

.navbar .navbar-toggler {
  top: 0rem;
  right: 1rem;
}

.form-box {
  max-width: 500px;
  margin: auto;
  padding: 50px;
  background: #ffffff;
  border-radius: 30px;
}

.form-box h1,
.form-box p {
  text-align: center;
}

.form-box input,
.form-box textarea {
  width: 100%;
}

.form-box input[type="submit"]:hover {
  background-color: #009efb !important;
}

.about {
  padding: 4em 1em;
}

.about .position-absolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-head {
  margin-bottom: 60px;
}
.section-head h4 {
  position: relative;
  padding: 0;
  line-height: 1;
  letter-spacing: 0.3px;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
  margin-bottom: 30px;
}
.section-head h4:before {
  content: "";
  width: 60px;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right: 0;
  margin: 0 auto;
}
.section-head h4 span {
  font-weight: 700;
  padding-bottom: 5px;
}
p.service_text {
  color: #cccccc !important;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
.section-head p,
p.awesome_line {
  color: #818181;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.extra-text {
  font-size: 34px;
  font-weight: 700;
  color: #2f2f2f;
  margin-bottom: 25px;
  position: relative;
  text-transform: none;
}
.extra-text::before {
  content: "";
  width: 60px;
  height: 3px;
  background: #00803d;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right: 0;
  margin: 0 auto;
}
.extra-text span {
  font-weight: 700;
  color: #00803d;
}
.item {
  background: #fff;
  text-align: center;
  padding: 30px 25px;
  -webkit-box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  border: 5px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
  transition: all 0.5s ease 0s;
}
.item:hover {
  background: #00803d;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
  transition: all 0.5s ease 0s;
}
.item:hover .item,
.item:hover span.icon {
  /* background: #fff; */
  color: white;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
  transition: all 0.5s ease 0s;
}
.item:hover h6,
.item:hover p {
  color: #fff;
  -webkit-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
  transition: all 0.5s ease 0s;
}
.item .icon {
  font-size: 40px;
  margin-bottom: 25px;
  color: #00803d;
  width: 90px;
  height: 90px;
  line-height: 96px;
  border-radius: 50px;
}
.item .feature_box_col_one {
  color: #00803d;
}
.item .feature_box_col_two {
  color: #00803d;
}
.item .feature_box_col_three {
  color: #00803d;
}
.item .feature_box_col_four {
  color: #00803d;
}
.item .feature_box_col_five {
  color: #00803d;
}
.item .feature_box_col_six {
  color: #00803d;
}
.item p {
  font-size: 15px;
  line-height: 26px;
}
.item h6 {
  margin-bottom: 20px;
  color: #2f2f2f;
}
.mission p {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 28px;
  font-weight: 500;
}
.mission i {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #f91942;
  border-radius: 50%;
  color: #fff;
  font-size: 25px;
}
.mission .small-text {
  margin-left: 10px;
  font-size: 13px;
  color: #666;
}
.skills {
  padding-top: 0px;
}
.skills .prog-item {
  margin-bottom: 25px;
}
.skills .prog-item:last-child {
  margin-bottom: 0;
}
.skills .prog-item p {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
}
.skills .prog-item .skills-progress {
  width: 100%;
  height: 10px;
  background: #e0e0e0;
  border-radius: 20px;
  position: relative;
}
.skills .prog-item .skills-progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #00803d;
  width: 10%;
  border-radius: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.skills .prog-item .skills-progress span:after {
  content: attr(data-value);
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  padding: 3px 7px;
  border-radius: 30px;
}

.bg1 {
  min-height: 700px;
}

.bg2 {
  background: url("img/bg2.jpeg");
  background-size: cover;
  background-position: center;
  height: 350px;
}

.bg3 {
  background: url("img/bg3.jpeg");
  background-size: cover;
  background-position: center;
  height: 350px;
}

.bg4 {
  background: url("img/bg4.jpeg");
  background-size: cover;
  background-position: center;
  height: 350px;
}

.bg5 {
  background: url("img/bg5.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 700px;
}

.pedped {
  background-color: #fefcfd;
  padding: 4em 1em;
}

.pedped ul {
  list-style: none;
  margin: 0;
  color: white;
  padding: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 70px;
}

.pedped i {
  color: #fff;
}

.pedped img {
  height: 400px;
}

.google {
  padding: 4em 1em;
  background-color: #efefef;
}

.each-rev {
  min-width: 350px;
  max-height: 200px;
  overflow-y: scroll;
}

.scroll-review {
  overflow-x: scroll;
}

.scroll-review::-webkit-scrollbar {
  height: 7px;
}

.each-rev::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.footerfoo {
  background-color: #2f2f2f;
  padding: 4em 1em 0.5em 1em;
}

.quickenquiry {
  position: fixed;
  border-radius: 5px;
  right: 0;
  transition: 0.4s;
  border: 3px solid white;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.quickenquiry img {
  width: 30px;
}

.quickenquiry:hover {
  border: 3px solid black;
}

.emailing {
  position: fixed;
  right: 5px;
  bottom: 150px;
  width: 55px;
  height: 55px;
  background-color: #1b16aa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  z-index: 9999;
  align-items: center;
}

.emailing img {
  width: 45px;
}

.calling {
  position: fixed;
  right: 5px;
  bottom: 85px;
  width: 55px;
  height: 55px;
  background-color: #175b9d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  z-index: 9999;
  align-items: center;
}

.calling img {
  width: 25px;
}

.whatsapp {
  position: fixed;
  right: 5px;
  bottom: 20px;
  width: 55px;
  height: 55px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  z-index: 9999;
  align-items: center;
}

.whatsapp img {
  width: 35px;
}

.carousel-inner img {
  max-height: 682px;
}
